<!DOCTYPE html>
<html>
<head>
    <title>User Management</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
    
    <script>
        window.addEventListener("pageshow", function(event) {

        if (event.persisted) {
            window.location.reload();
            }
            
        });

    </script>
<body class="bg-light">

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>User Management</h2>

        <a href="/add" class="btn btn-primary">
            + Add User
        </a>
        <a href="/logout" class="btn btn-danger">
            Logout
        </a>
    </div>

    <div class="card shadow">

        <div class="card-body">

            <table class="table table-striped table-hover">

                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th width="150">Actions</th>
                    </tr>
                </thead>

                <tbody>

                <% users.forEach(user => { %>

                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>

                        <td>

                            <a href="/edit/<%= user.id %>" 
                               class="btn btn-warning btn-sm">

                                Edit

                            </a>

                        </td>

                    </tr>

                <% }) %>

                </tbody>

            </table>

        </div>

    </div>

</div>

</body>
</html>